<%= render "/shared/navbar" %>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
  My Lists
</div>

<div class="container">

  <div class="card-trip">
    <% @lists.each do |list| %>
      <%= cl_image_tag list.photo.key, :crop => "fill" %>
      <%= link_to list.name, list_path(list) %>
    <% end %>
  </div>

</div>

<%= link_to 'Create new list', new_list_path %>
