<%= render "/shared/navbar" %>

<div class="home-banner">
  <h1>Save any kind of movies</h1>
  <h2>Classic</h2>
</div>

<div class="card-container">
  <h2>My Lists</h2>

  <div class="row">
    <div class="col-4">
      <div class="card-trip">
        <%= cl_image_tag ("fvkxbam0s29nb2lq8vus") %>
        <div class="card-trip-infos">
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
